* {
    box-sizing: border-box;
}

.container {
    width: 500px;
    margin: 20px auto;
    position: relative;

}

.outer-col {
    position: fixed;
    right: 5px;
    bottom: -399px;
    width: 24%;
    background-color: white;
}

.heading {
    float: left;
    width: 100%;
    background: #50bef4;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    font-family: arial;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.form-col {
    float: left;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
    padding: 10px;
    border: 1px solid #999;
}

.form-col input,
textarea {
    float: left;
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 10px;
}


.form-col button {
    float: left;
    border-radius: 5px;
    background: #50bef4;
    color: #fff;
    font-size: 16px;
    font-family: arial;
    border: 0;
    padding: 10px;
    margin-bottom: 10px;
}

.card {
    max-width: 50%;

    width: 50%;

}

tr td {
    padding: 12px 5px 0px 0px;
}

tr td:first-child {
    max-width: 12rem;
    min-width: 6rem;
}

#wpfooter {
    display: none;
}

.buttons_style {
    background-color: #f6630aed;
    padding: 8px;
    border-radius: 6px;
}
.get_attr_button{
    margin-left: 8.2rem;
}